sudo: false
language: python
python:
    - 2.7
    - 3.3
    - 3.4
env:
    - DJANGO=1.4
    - DJANGO=1.5
    - DJANGO=1.6
    - DJANGO=1.7
    - DJANGO=1.8
    - DJANGO=1.9
matrix:
    exclude:
        - python: 3.3
          env: DJANGO=1.4
        - python: 3.4
          env: DJANGO=1.4
        - python: 3.3
          env: DJANGO=1.9
install:
    - pip install -U setuptools
    - python bootstrap.py
    - ./bin/buildout versions:django=$DJANGO
before_script:
    - ./bin/flake8 app_namespace
script:
    - ./bin/test-and-cover
after_success:
    - ./bin/coveralls
