[buildout]
extends                 = versions.cfg
parts                   = test
                          cover
                          flake8
                          coveralls
                          evolution
develop                 = .
eggs                    = django
                          django-app-namespace-template-loader
show-picked-versions    = true

[test]
recipe                  = pbp.recipe.noserunner
eggs                    = pdbpp
                          nose
                          nose-sfd
                          nose-progressive
                          ${buildout:eggs}
defaults                = --with-progressive
                          --with-sfd
environment             = testenv

[cover]
recipe                  = pbp.recipe.noserunner
eggs                    = nose
                          nose-sfd
                          coverage
                          ${buildout:eggs}
defaults                = --with-coverage
                          --cover-package=app_namespace
                          --cover-erase
                          --with-sfd
environment             = testenv

[flake8]
recipe                  = zc.recipe.egg
eggs                    = flake8

[coveralls]
recipe                  = zc.recipe.egg
eggs                    = python-coveralls

[evolution]
recipe                  = zc.recipe.egg
eggs                    = buildout-versions-checker
scripts                 = check-buildout-updates=evolve
arguments               = '-w --indent 32'

[testenv]
DJANGO_SETTINGS_MODULE  = app_namespace.tests.settings